# ignore log files
*.log
log

# ignore all uploads
uploads

# ignore textmate project files
*.tmproj

# ignore .DStore
*.DS_Store

# ignore netbeans
netbeans
nbproject

# ignore tmp
tmp

# ignore coverage
coverage
coverage.data
