<p>
  <%= f.label :person_id %><br />
  <%= f.select 'person_id', @people, :prompt => 'Select ...' %>
</p>
<p>
  <%= f.label :task_id %><br />
  <%= f.select 'task_id', @tasks, :prompt => 'Select ...' %>
</p>