<p>
  <b>Name:</b>
  <%=h @storage_type.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @storage_type.description %>
</p>


<%= link_to 'Edit', edit_storage_type_path(@storage_type) %> |
<%= link_to 'Back', storage_types_path %>