<p>
  <b>Name:</b>
  <%=h @storage_location.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @storage_location.description %>
</p>


<%= link_to 'Edit', edit_storage_location_path(@storage_location) %> |
<%= link_to 'Back', storage_locations_path %>