<h1>Dashboard</h1>

<%= link_to(Person.count.to_s + ' People', people_path) %><br />
<%= link_to(Skill.count.to_s + ' Skills', skills_path) %><br />
<%= link_to(Project.count.to_s + ' Projects', projects_path) %><br />
