<h1>Team Player</h1>

<%= link_to 'People', people_path %><br />
<%= link_to 'Skills', skills_path %><br />
<%= link_to 'Projects', projects_path %><br />
<%= link_to 'Assignments', assignments_path %><br />