<p>
  <b>Person:</b>
  <%=h @people_skill.person_id %>
</p>

<p>
  <b>Skill:</b>
  <%=h @people_skill.skill_id %>
</p>


<%= link_to 'Edit', edit_people_skill_path(@people_skill) %> |
<%= link_to 'Back', people_skills_path %>