<p>
  <b>Name:</b>
  <%=h @sales_order_state.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @sales_order_state.description %>
</p>


<%= link_to 'Edit', edit_sales_order_state_path(@sales_order_state) %> |
<%= link_to 'Back', sales_order_states_path %>