<table border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td><b>Product Type</b></td>
    <td><%= select_tag :product_type, options_for_select(@available_product_types), {:onchange => remote_function(:url => {:action => :update_products}, :with => "'product_type='+value")} %></td>
    <td class="status" width='40'> or </td>
    <td><b>Supplier</b></td>
    <td><%= select_tag :supplier, options_for_select(@available_suppliers), {:onchange => remote_function(:url => {:action => :update_products}, :with => "'supplier='+value")} %></td>
  </tr>
    <td><b>Product</b></td>
    <td colspan='4'><div id="product"><%= render :partial => 'product', :object => @available_products %></div></td>
  </tr>
  </tr>
    <td><b>Quantity</b></td>
    <td><%= text_field_tag :quantity %></td>
  </tr>
<table>